blockquote {
  position: sticky;
	top: -5em;
	background: #2aa2ff;
	padding: 0.5em 5em;
	width: calc(100% - 10em);
	color: white;
	z-index: 1;
	transition: all 0.2s ease-in-out;
};
blockquote:hover {
  top: 0;
	box-shadow: 0px 10px 10px #11111155;
};
blockquote a:hover {
	background: white;
	color: #2aa2ff;
};
blockquote h1,
blockquote a,
blockquote button,
button.close {
	color: white;
	display: inline-block;
	padding: 0.25em 1em;
	font-weight: bold;
	font-size: 1.5em;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
	border-radius: 0.5em;
	background: transparent;
	margin: 0 0 0.1em 0;
};
